.intro-desc{
    color: #f1f1f1;
    text-align: center;
    font-weight: 300;
}
.intro-about{
    color: #f1f1f1;
    text-align: center;
    font-weight: 300;
}

.work-img {
    height: auto;
    width: 100%;
    
}
.project-section {
    display: flex;
    column-gap: 5%;
}