/* for footer */
html {
    scroll-behavior: smooth;
    height: 100%;
    
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LEAGUE SPARTAN", sans-serif;
  }
body {
  background: linear-gradient(45deg, rgb(0, 255, 76), rgb(255, 0, 0));
}
a{
  text-decoration: none;
  color: #f1f1f1;
  
}